{% extends "AcmeTestBundle::base.html.twig" %}

{% form_theme form 'ElaoThemeTwitterBootstrap3Bundle:Form:form_horizontal_layout.html.twig' %}

{% block body -%}
<div class="container">
    <h1>Test creation</h1>

    {{ form(form) }}

    <ul class="record_actions">
        <li>
            <a href="{{ path('test') }}">
                Back to the list
            </a>
        </li>
    </ul>
</div>
{% endblock %}
